@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.bg-about {
  background-color: $c1;
}

.about {
  @include flex($gap: 1.5rem);

  .img-about {
    display: flex;
    width: 100%;
    height: auto;

    @include respond-to(mobile) {
      display: none;
    }
    @include respond-to(tablet) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }

  .text-about {
    padding: 1rem 0;

    .list-advantage {
      @include grid(200px);
      justify-items: start;

      @include respond-to(mobile) {
        @include grid(155px);
        gap: 0.5rem;
      }

      .item-advantage {
        display: flex;
        align-items: center;

        h3 {
          @include font-clamp(x-small);
          color: $c7;
          margin-left: 0.5rem;
          white-space: nowrap;
        }
      }
    }
  }
}
