@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $c1;
  box-shadow: $box-shadow;
}

.container {
  @include container;
  @include flex;

  @include respond-to(mobile) {
    padding: 1.25rem 1rem;
  }

  .logo {
    @include font-clamp(large);
    font-weight: bold;
    text-decoration: none;
    color: $c7;
    display: flex;
    align-items: center;
  }

  .menu-mobile {
    display: none;

    @include respond-to(mobile) {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .list-menu {
    @include flex($gap: 1.5rem);

    a {
      text-decoration: none;
      color: $c4;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }
    }

    @include respond-to(mobile) {
      display: none;
    }
  }
}
