@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.main-container {
  @include container;

  @include respond-to(mobile) {
    padding: 1.25rem 1rem;
  }
}

.text-highlight {
  display: block;
  @include font-clamp(large);
  color: $primary;
  font-family: "Satisfy", cursive;

  @include respond-to(mobile) {
    margin-bottom: 0.25rem;
  }
}

.text-subtitle {
  @include font-clamp(x-large);
  line-height: 1.2;
  margin-bottom: $margin-bottom;
}

.description {
  @include font-clamp(small);
  color: $c5;
  margin-bottom: $margin-bottom;
  line-height: 2;
  font-style: italic;
}

.button {
  display: inline-block;
  background-color: $primary;
  color: $c1;
  border: none;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  margin-bottom: $margin-bottom;

  &:hover {
    background-color: ajust($primary, 10%);
  }
}

.card {
  @include flex(center, center);
  background: $c1;
  padding: 0.875rem;
  text-align: center;
  border-radius: $border-radius;
  width: 100%;
  height: 10rem;
  transition: background 0.5s ease;

  @include respond-to(mobile) {
    height: auto;
  }
}