@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Satisfy&display=swap");
html {
  color: #19191a;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  /* Estilos para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #d31212 #f5f7fa;
}

/* Estilos para WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f7fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d31212;
  border-radius: 10px;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: none;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 3em;
}
@media (max-width: 767.98px) {
  .main-container {
    padding: 1.25rem 1rem;
  }
}

.text-highlight {
  display: block;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  color: #d31212;
  font-family: "Satisfy", cursive;
}
@media (max-width: 767.98px) {
  .text-highlight {
    margin-bottom: 0.25rem;
  }
}

.text-subtitle {
  font-size: clamp(1.5rem, 5vw, 2.25rem);
  line-height: 1.2;
  margin-bottom: 0.625rem;
}

.description {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: #414142;
  margin-bottom: 0.625rem;
  line-height: 2;
  font-style: italic;
}

.button {
  display: inline-block;
  background-color: #d31212;
  color: #f5f7fa;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
.button:hover {
  background-color: ajust(#d31212, 10%);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f5f7fa;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .container {
    padding: 1.25rem 1rem;
  }
}
.container .logo {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  font-weight: bold;
  text-decoration: none;
  color: #19191a;
  display: flex;
  align-items: center;
}
.container .menu-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .container .menu-mobile {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.container .list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.container .list-menu a {
  text-decoration: none;
  color: #555657;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}
.container .list-menu a:hover {
  color: #d31212;
}
@media (max-width: 767.98px) {
  .container .list-menu {
    display: none;
  }
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .home {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.home h1 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  color: #19191a;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}
.home .img-home {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .category-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.category-list .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background: #f5f7fa;
  padding: 0.875rem;
  text-align: center;
  border-radius: 0.25rem;
  width: 100%;
  height: 10rem;
  transition: background 0.5s ease;
}
@media (max-width: 767.98px) {
  .category-list .card {
    height: auto;
  }
}
.category-list .card img {
  width: 50px;
  height: auto;
}
.category-list .card h3 {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: #19191a;
}
.category-list .card:hover {
  background: #d31212;
}
.category-list .card:hover h3 {
  color: #f5f7fa;
}

.bg-about {
  background-color: #f5f7fa;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.about .img-about {
  display: flex;
  width: 100%;
  height: auto;
}
@media (max-width: 767.98px) {
  .about .img-about {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .about .img-about {
    display: none;
  }
}
.about .img-about img {
  width: 100%;
  height: auto;
  margin: auto;
}
.about .text-about {
  padding: 1rem 0;
}
.about .text-about .list-advantage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: start;
}
@media (max-width: 767.98px) {
  .about .text-about .list-advantage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: 1rem;
    gap: 0.5rem;
  }
}
.about .text-about .list-advantage .item-advantage {
  display: flex;
  align-items: center;
}
.about .text-about .list-advantage .item-advantage h3 {
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  color: #19191a;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.menu-list .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background: #f5f7fa;
  padding: 0.875rem;
  text-align: center;
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}
@media (max-width: 767.98px) {
  .menu-list .card {
    height: auto;
  }
}
.menu-list .card .bi-heart-fill {
  position: absolute;
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  top: 1rem;
  right: 1.5rem;
  color: #414142;
  transition: color 0.3s;
}
.menu-list .card .bi-heart-fill:hover {
  color: #d31212;
}
.menu-list .card .img-card {
  margin: 0;
}
.menu-list .card .img-card img {
  height: auto;
  width: 150px;
}

.text-card h3 {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}
.text-card .stars {
  padding: 0.25rem 0;
  font-size: clamp(0.875rem, 2vw, 1rem);
}
.text-card .stars .bi {
  color: gold;
}
.text-card .stars span {
  color: #414142;
}
.text-card .price {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}
.text-card .price span {
  font-size: clamp(0.875rem, 2vw, 1rem);
  color: #414142;
  text-decoration: line-through;
}

.footer {
  background: #f5f7fa;
  padding: 1.25rem 3rem;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 1.25rem 1rem;
  }
}
.footer .footer-content {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin: auto;
  padding: 1rem 0;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .footer .footer-content {
    justify-items: start;
  }
}
@media (max-width: 767.98px) {
  .footer .footer-content {
    justify-items: start;
    gap: 0.5rem;
  }
}
.footer .footer-content h3 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  .footer .footer-content h3 {
    margin-bottom: 0.25rem;
  }
}

.footer-list {
  position: relative;
}
.footer-list li {
  font-size: clamp(0.875rem, 2vw, 1rem);
  display: flex;
  align-items: center;
  color: #414142;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}
.footer-list li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../assets/icons/arrow.svg") no-repeat center;
  background-size: contain;
  margin-right: 8px;
}

.footer-network {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.footer-network .bi {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
  color: #d31212;
  padding: 0.15rem;
  cursor: pointer;
}
.footer-network .direitos {
  font-size: clamp(0.875rem, 2vw, 1rem);
  margin-top: 0.5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
