@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Satisfy&display=swap");

$c1: #f5f7fa;
$c2: #e1e3e5;
$c3: #a5a6a8;
$c4: #555657;
$c5: #414142;
$c6: #2d2d2e;
$c7: #19191a;

$primary: #d31212;

$border: 0.25rem solid rgba(0, 0, 0, 0.1);
$border-radius: 0.25rem;
$box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
$margin-bottom: 0.625rem;
$max-width: 1200px;
